@font-face {
  font-family: "Aileron-Thin";
  src: url("fonts/Aileron-Thin.otf");
}


body{
  padding-top: 70px;
}
h1{
  color: #056780 !important;
  margin-bottom: 3% !important;
}

h2{
  margin-bottom: 4% !important;
}
hr{
  margin-bottom: 5% !important;
}
.website-descript{
  background-color: #f8f9fa;
  font-size: 1.2em;
  padding-top: 8%;
  padding-bottom: 8%;

}

.top-header{
  width: 100%;
  font-family: "Aileron-Thin";
  color: white !important;
  background-color: #056780;
  padding: 100px 10px 100px 10px;
  margin-left: auto;
  margin-right: auto;
}





#navbar2{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}


.navbar{
  height: 70px;
}


footer{
  clear: both;
}



.projects_links{
  margin-top: 3%;
  font-size: 1.4em;
  margin-bottom: 10%;
}

.gifs{
  width: 100%;
  height: auto;
}
.row{
  margin-bottom: 10%;
}

.carousel-control-next{

  margin-right: 15%;
}

.carousel-control-prev{
  margin-left: 15%;
}


#processing_section{
  padding-top: 10%;
  /* background-color: #f8f9fa; */
  /* background-color: #5D8694; */
  background-color: rgba(5,103,128,0.1);
  padding-bottom: 2%;
  margin-bottom: 10%;
}

#litterdataset{
  width: 65%;
  height: auto;
}

.img-thumbnail{
  width: 500px;
  height: 280px !important;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
  background-color: black !important;

}
.carousel-indicators li {

  background-color: black !important;
}
.carousel-indicators .active {
  background-color: #FF7600;
}


.carousel, .carousel-item > img{
  margin-left: auto;
  margin-right: auto;
  width: 87%;
  height: auto;
}




@media only screen and (max-width: 600px) {
    #projects_header{
      margin-top: 70px;
      width: 90%;
      height: auto;
    }

    .navbar_item{
      width: 50%;
      padding-left: 0;
      padding-right: 0;
    }

    embed{
      width: 50%;
    }

    #navbar2{
      margin-top: 3%;
      width: 90%;
      font-size: .8em;
    }

}
