
h1{
  color: #056780 !important;
  margin-bottom: 3% !important;
}

h2{
  margin-bottom: 4% !important;
}
hr{
  margin-bottom: 5% !important;
}
.website-descript{
  background-color: #f8f9fa;
  font-size: 1.2em;
  /* outline: solid;
  outline-width: thin; */
  padding-top: 8%;
  padding-bottom: 8%;

}

#projects_header{
  width: 70%;
  height: auto;
  margin-bottom: 10%;
}




video{
  width: 60%;
  height: auto;
}
.navbar{
  height: 70px;
}


footer{
  clear: both;
}

.bulk{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 10%;
}

.projects_links{
  margin-top: 3%;
  font-size: 1.4em;
  margin-bottom: 10%;
}

.gifs{
  width: 100%;
  height: auto;
}
.row{
  margin-bottom: 15%;
}



.desc_tabs {
  width: 40%;
  /* float: right; */
  margin-left: 50%;
  margin-top: 3%;
  margin-bottom: 15%;
  /* width: 69%; */
  /* display: inline-block; */
}



} */
.desc-content {

  width: 450px;
  height: 170px;
  padding:15px;
  border-radius:3px;
  box-shadow:-1px 1px 1px rgba(0,0,0,0.15);
  background: #f8f9fa;

}
