

.bulk{
  text-align: center;
  margin-top: 10%;
}

.navbar{
  height: 70px;
}

embed{
  margin-bottom: 10%;
}

#resume_header{
  width: 70%;
  height: auto;
  margin-bottom: 10%;
}


@media only screen and (max-width: 600px) {
    #resume_header{
      margin-top: 70px;
      width: 90%;
      height: auto;
    }
    embed{
      width: 70%;
      height: 400px;
    }
    
}
