

.processing_canvases{
  width: 500px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

video{
  width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
}

.bulk{
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  margin-top: 10%;
}

#subtitle{
  font-size: .5em;
  color: gray;
}

.navbar{
  height: 70px;
}
